@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Inknut+Antiqua:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .header__logo {
    margin-left: 1rem; }
  .header__ul {
    list-style: none; }
    .header__ul--active {
      font-weight: 900; }
    .header__ul a {
      color: #E08D79 !important; }
    .header__ul a:hover {
      font-weight: bold !important;
      color: #49416D !important; }

.colorNav {
  background-color: #B3F2DD !important; }

body {
  background-color: #A882DD; }

p {
  font-family: "Inknut Antiqua", serif; }
