* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.colorNav {
  background-color: #fcc8ec !important; }

header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-content: center; }
  header__logo {
    margin-left: 1rem; }
